:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Inter", sans-serif !important;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: none !important;
}
